In [25]:
#install pySpark
!pip install pySpark

Requirement already satisfied: pySpark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pySpark) (0.10.9.7)

In [2]:
#import libraries and load dataset
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("test_pyspark").getOrCreate()

In [ ]:
df= spark.read.csv("/content/sample_data/california_housing_train.csv",header=True,inferSchema= True)

In [ ]:
df

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double]

In [4]:
df_train= spark.read.csv("/content/Cost_of_Living_Index_2022.csv",header=True,inferSchema= True)

In [5]:
df_train.show()

+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+
|Rank|             Country|Cost of Living Index|Rent Index|Cost of Living Plus Rent Index|Groceries Index|Restaurant Price Index|Local Purchasing Power Index|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+
|   1|         Afghanistan|               20.37|      2.72|                         12.09|          14.92|                 12.41|                       23.04|
|   2|             Albania|                35.5|      8.47|                         22.83|          29.32|                 25.82|                       30.19|
|   3|             Algeria|               26.87|      4.59|                         16.43|          28.82|                 14.48|                       24.63|
|   4|           Argentina|               34.69|      7.71|                         22.04|          28.17|                 33.32|                       30.72|
|   5|             Armenia|               33.89|     11.61|                         23.45|          27.59|                 30.55|                       28.86|
|   6|           Australia|               77.75|     36.84|                         58.57|          77.44|                 72.95|                      104.63|
|   7|             Austria|               71.04|     27.13|                         50.46|          65.88|                 66.03|                       77.25|
|   8|          Azerbaijan|               29.73|      7.86|                         19.48|          26.57|                 26.73|                       27.26|
|   9|             Bahamas|                84.0|     35.34|                         61.19|          70.59|                 89.09|                       45.07|
|  10|             Bahrain|               54.77|     29.22|                         42.79|          44.59|                 48.94|                       61.41|
|  11|          Bangladesh|               33.13|      4.42|                         19.67|          30.41|                  21.7|                        25.3|
|  12|            Barbados|               92.37|     21.99|                         59.38|          87.81|                 78.18|                       32.08|
|  13|             Belarus|               30.89|      9.81|                         21.01|          27.24|                 31.64|                       31.78|
|  14|             Belgium|               72.61|     25.79|                         50.67|          63.32|                 78.63|                       79.72|
|  15|              Belize|                51.3|     11.64|                         32.71|          48.76|                  36.6|                       45.73|
|  16|             Bermuda|              146.04|     98.58|                         123.8|         148.66|                159.17|                       81.07|
|  17|             Bolivia|               34.77|     10.18|                         23.24|          31.26|                 24.97|                       36.04|
|  18|Bosnia And Herzeg...|               36.12|      6.82|                         22.39|          31.14|                 25.34|                        44.1|
|  19|            Botswana|               40.17|     10.21|                         26.12|          35.16|                  42.5|                       62.63|
|  20|              Brazil|               33.24|      8.27|                         21.54|          28.16|                 25.24|                       27.85|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+
only showing top 20 rows

In [6]:
#Checking attributes with their data type
df_train.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Cost of Living Index: double (nullable = true)
 |-- Rent Index: double (nullable = true)
 |-- Cost of Living Plus Rent Index: double (nullable = true)
 |-- Groceries Index: double (nullable = true)
 |-- Restaurant Price Index: double (nullable = true)
 |-- Local Purchasing Power Index: double (nullable = true)

In [7]:
#assembling the columns
from pyspark.ml.feature import VectorAssembler
featureassembler= VectorAssembler(inputCols=['Rent Index', 'Cost of Living Plus Rent Index', 'Groceries Index', 'Restaurant Price Index', 'Local Purchasing Power Index'], outputCol='Independant Features')

In [8]:
output=featureassembler.transform(df_train)

In [9]:
output.show()

+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+--------------------+
|Rank|             Country|Cost of Living Index|Rent Index|Cost of Living Plus Rent Index|Groceries Index|Restaurant Price Index|Local Purchasing Power Index|Independant Features|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+--------------------+
|   1|         Afghanistan|               20.37|      2.72|                         12.09|          14.92|                 12.41|                       23.04|[2.72,12.09,14.92...|
|   2|             Albania|                35.5|      8.47|                         22.83|          29.32|                 25.82|                       30.19|[8.47,22.83,29.32...|
|   3|             Algeria|               26.87|      4.59|                         16.43|          28.82|                 14.48|                       24.63|[4.59,16.43,28.82...|
|   4|           Argentina|               34.69|      7.71|                         22.04|          28.17|                 33.32|                       30.72|[7.71,22.04,28.17...|
|   5|             Armenia|               33.89|     11.61|                         23.45|          27.59|                 30.55|                       28.86|[11.61,23.45,27.5...|
|   6|           Australia|               77.75|     36.84|                         58.57|          77.44|                 72.95|                      104.63|[36.84,58.57,77.4...|
|   7|             Austria|               71.04|     27.13|                         50.46|          65.88|                 66.03|                       77.25|[27.13,50.46,65.8...|
|   8|          Azerbaijan|               29.73|      7.86|                         19.48|          26.57|                 26.73|                       27.26|[7.86,19.48,26.57...|
|   9|             Bahamas|                84.0|     35.34|                         61.19|          70.59|                 89.09|                       45.07|[35.34,61.19,70.5...|
|  10|             Bahrain|               54.77|     29.22|                         42.79|          44.59|                 48.94|                       61.41|[29.22,42.79,44.5...|
|  11|          Bangladesh|               33.13|      4.42|                         19.67|          30.41|                  21.7|                        25.3|[4.42,19.67,30.41...|
|  12|            Barbados|               92.37|     21.99|                         59.38|          87.81|                 78.18|                       32.08|[21.99,59.38,87.8...|
|  13|             Belarus|               30.89|      9.81|                         21.01|          27.24|                 31.64|                       31.78|[9.81,21.01,27.24...|
|  14|             Belgium|               72.61|     25.79|                         50.67|          63.32|                 78.63|                       79.72|[25.79,50.67,63.3...|
|  15|              Belize|                51.3|     11.64|                         32.71|          48.76|                  36.6|                       45.73|[11.64,32.71,48.7...|
|  16|             Bermuda|              146.04|     98.58|                         123.8|         148.66|                159.17|                       81.07|[98.58,123.8,148....|
|  17|             Bolivia|               34.77|     10.18|                         23.24|          31.26|                 24.97|                       36.04|[10.18,23.24,31.2...|
|  18|Bosnia And Herzeg...|               36.12|      6.82|                         22.39|          31.14|                 25.34|                        44.1|[6.82,22.39,31.14...|
|  19|            Botswana|               40.17|     10.21|                         26.12|          35.16|                  42.5|                       62.63|[10.21,26.12,35.1...|
|  20|              Brazil|               33.24|      8.27|                         21.54|          28.16|                 25.24|                       27.85|[8.27,21.54,28.16...|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+--------------------+
only showing top 20 rows

In [10]:
output.columns

['Rank',
 'Country',
 'Cost of Living Index',
 'Rent Index',
 'Cost of Living Plus Rent Index',
 'Groceries Index',
 'Restaurant Price Index',
 'Local Purchasing Power Index',
 'Independant Features']

Create the final output with the dataset target variable

In [11]:
#The select() is a transformation function that is used to select the columns from the dataset
fin_output=output.select("Independant Features", "Cost of Living Index")

In [12]:
fin_output.show()

+--------------------+--------------------+
|Independant Features|Cost of Living Index|
+--------------------+--------------------+
|[2.72,12.09,14.92...|               20.37|
|[8.47,22.83,29.32...|                35.5|
|[4.59,16.43,28.82...|               26.87|
|[7.71,22.04,28.17...|               34.69|
|[11.61,23.45,27.5...|               33.89|
|[36.84,58.57,77.4...|               77.75|
|[27.13,50.46,65.8...|               71.04|
|[7.86,19.48,26.57...|               29.73|
|[35.34,61.19,70.5...|                84.0|
|[29.22,42.79,44.5...|               54.77|
|[4.42,19.67,30.41...|               33.13|
|[21.99,59.38,87.8...|               92.37|
|[9.81,21.01,27.24...|               30.89|
|[25.79,50.67,63.3...|               72.61|
|[11.64,32.71,48.7...|                51.3|
|[98.58,123.8,148....|              146.04|
|[10.18,23.24,31.2...|               34.77|
|[6.82,22.39,31.14...|               36.12|
|[10.21,26.12,35.1...|               40.17|
|[8.27,21.54,28.16...|               33.24|
+--------------------+--------------------+
only showing top 20 rows

In [13]:
#Appling Linear regression on the dataset
from pyspark.ml.regression import LinearRegression

In [14]:
train_x, test_x = fin_output.randomSplit([0.8, 0.2])

In [21]:
reg=LinearRegression(featuresCol = 'Independant Features', labelCol= 'Cost of Living Index')

In [16]:
reg= reg.fit(train_x)

In [17]:
reg.coefficients

DenseVector([-0.8826, 1.883, -0.0002, -0.0002, 0.0])

In [18]:
reg.intercept

-0.0007573925783394953

In [19]:
pred=reg.evaluate(test_x)

In [20]:
pred.predictions.show()

+--------------------+--------------------+------------------+
|Independant Features|Cost of Living Index|        prediction|
+--------------------+--------------------+------------------+
|[8.27,21.54,28.16...|               33.24| 33.24987339052216|
|[8.47,22.83,29.32...|                35.5|35.502116278348936|
|[8.73,22.11,31.27...|               33.92|  33.9159544116544|
|[9.07,24.64,34.02...|               38.38|38.378930579389376|
|[9.26,20.37,26.44...|               30.18|30.172988237161853|
|[9.44,19.66,25.35...|               28.68|28.677552445112475|
|[9.59,24.18,37.84...|               37.06|37.054252815575644|
|[10.04,20.75,25.4...|                30.2| 30.20080047596861|
|[10.28,26.31,34.7...|               40.46|  40.4557406526874|
|[11.22,22.54,30.7...|               32.53| 32.52909263783733|
|[11.64,32.71,48.7...|                51.3|51.302327181930195|
|[12.36,23.23,30.0...|               32.81|32.821570814314406|
|[12.55,24.66,34.8...|               35.35|35.344643954826914|
|[12.87,26.72,31.7...|               38.95| 38.94178104987562|
|[13.38,32.27,41.9...|               48.94|48.938928103435735|
|[13.51,29.66,38.8...|                43.9| 43.90966554621372|
|[14.45,27.46,32.4...|               38.95| 38.94093565617668|
|[14.69,29.84,45.1...|               43.21| 43.20882074514951|
|[15.01,31.29,36.1...|               45.65|45.655629229577336|
|[15.23,36.36,47.9...|                55.0| 55.00651295957819|
+--------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
pred.meanAbsoluteError, pred.rootMeanSquaredError

(0.006005548006720167, 0.007391279461881669)